body {
  font-family: "Shantell Sans", cursive;
  background-color: #ffe200;
  height: 95vh;
  width: 100vw;
}

button {
  background-color: #cc2229;
  font-size: 1.1rem;
  font-family: "Shantell Sans", cursive;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 2%;
  transition: 0.3s;
}

button:hover {
  background-color: #95181a;
}
